<h1>Sign In </h1>

<%= form_with url: sign_in_path do | form | %>
    <div class="mb-3">
        <%= form.label "Email" %>
        <%= form.text_field "email", class: "form-control", placeholder: "Enter your email" %>
    </div>

    <div class="mb-3">
        <%= form.label "Password" %>
        <%= form.password_field "password", class: "form-control", placeholder: "Enter your password" %>
    </div>

    <div>
        <%= form.submit "Sign in", data: { turbo: false }, class: "btn btn-primary col-12" %>
    </div>
<% end %>